<app-toolbar></app-toolbar>
<div>
  <div *ngIf="Admin()">
    <section class="home-estatistica">
      <div>
        <h2>Estatísticas</h2>
      </div>
      <div class="home-cards-container">
        <div class="home-card-estatistica">
          <span>{{totalAlunos}}</span>
          <p>Alunos</p>
        </div>
        <div class="home-card-estatistica">
          <span>{{totalTurmas}}</span>
          <p>Turmas</p>
        </div>
        <div class="home-card-estatistica">
          <span>{{totalDocentes}}</span>
          <p>Docentes</p>
        </div>
      </div>
    </section>
  </div>

  <div *ngIf="Admin() || Docente()">
    <section class="row mt-4">
      <div class="col-12 home-pesquisa">
        <label for="pesquisaAluno">Pesquisar aluno:</label>
        <input
        type="text"
        id="pesquisaAluno"
        class="form-control"
        placeholder="Buscar por nome, telefone ou e-mail..."
        [(ngModel)]="buscarPorAluno"
        >
        <button class="home-btn" (click)="buscarAluno()">Pesquisar</button>
        <button class="home-btn" (click)="verTodosAlunos()">Ver todos os alunos</button>
      </div>
    </section>

    <section>
      <div class="home-lista-alunos">
        <h2>Listagem de Alunos</h2>
          <div *ngIf="filterAlunos.length > 0; else noResults">
            <div class="home-cards-container">
              <div class="home-card-aluno" *ngFor="let aluno of filterAlunos">
                <img [src]="aluno.img" alt="{{ aluno.nome }}" class="home-card-aluno-img">
                <div class="home-card-aluno-info">
                  <h4>{{ aluno.nome }}</h4>
                  <p>Idade: {{ aluno.idade }}</p>
                  <p>Email: {{ aluno.email }}</p>
                  <button *ngIf="Admin()" class="home-btn">
                    <a routerLink="/cadastro-aluno">Ver mais</a>
                  </button>
                  <button *ngIf="Docente()" class="home-btn">
                    <a routerLink="/cadastro-notas">Lançar nota</a>
                  </button>
                </div>
            </div>
            </div>
          </div>
          <ng-template #noResults>
            <p>Aluno não encontrado</p>
          </ng-template>
      </div>
    </section>
  </div>

  <div *ngIf="Aluno() || Admin()">
    <section class="home-avaliacoes">
      <h2>Minhas Avaliações</h2>
      <table>
        <thead>
          <tr>
            <th>Avaliação</th>
            <th>Matéria</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let avaliacao of avaliacoes">
            <td>
              <a routerLink="/notas">{{ avaliacao.nome}}</a>
            </td>
            <td>{{ avaliacao.materia }}</td>
            <td>{{ avaliacao.data | date:'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="home-materias">
      <h2>Minhas Matérias</h2>
      <div class="home-cards-container">
        <div class="home-card-materia" *ngFor="let materia of materiasAtuais">
          <h4>{{ materia.nome }}</h4>
        </div>
      </div>
    </section>

    <section class="home-materias-extras">
      <h2>Matérias Extras</h2>
      <div class="home-cards-container">
        <div class="home-card-materia" *ngFor="let materia of materiasExtras">
          <h4>{{ materia.nome }}</h4>
        </div>
      </div>
    </section>
  </div>
