.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #494597;
  border-right: 1px solid #ddd;
  transition: transform 0.3s ease;
  z-index: 1000;
  transform: translateX(-100%);
  &.show {
    transform: translateX(0);
  }
}

.position-sticky {
  position: sticky;
  top: 0;
}

.menu-title {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  margin-left: 1.5rem;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.topicos {
  color: #fff;
  padding-left: 2.5rem;
  padding-top: 2rem;
  font-weight: bolder;
}

.nav-link {
  display: block;
  padding: 0.75rem 1.25rem;
  margin: 0 1rem 1rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #494597;
  background: #ddd;
  text-decoration: none;
  border-radius: 0.25rem;
  &:hover {
    background-color: #e9ecef;
  }
}

.btn-sair {
  margin-top: 5rem;
}

.toggle-sidebar {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #494597;
  color: #fff;
  font-size: 1.25rem;
  border: none;
  position: absolute;
  left: 1rem;
  z-index: 1500;
}
