.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #24535f;
  transition: transform 0.3s ease;
  z-index: 1000;
  transform: translateX(-100%);

  &.show {
    transform: translateX(0);
  }
}

.sidebar-posicao{
  position: sticky;
  top: 0;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    border: 2px solid #24535f;
  }

}

.sidebar-titulo {
  padding: 4rem 0 2rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  margin: 1.5rem;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.sidebar-topicos {
  color: #fff;
  padding-left: 1.5rem;
  padding-top: 1rem;
  font-weight: bolder;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: #24535f;
  background: #ddd;
  text-decoration: none;
  border-radius: 0.25rem;

  &:hover {
    background-color: #e9ecef;
  }
}

.btn-sair {
  margin-top: auto;
  margin-bottom: 2rem;
}

.toggle-sidebar {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #24535f;
  color: #fff;
  font-size: 1.25rem;
  border: none;
  position:relative;
  z-index: 1500;
  transition: left 0.3s ease;
}
.toggle-sidebar:active{
  background-color: #dddddd37
}
.sidebar.show ~ .toggle-sidebar {
  left: calc(250px - 5rem);
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .sidebar-topicos, .nav-link{
    font-size: 0.875rem;
  }
  .sidebar.show ~ .toggle-sidebar {
    left: calc(200px - 5rem);
  }

  .toggle-sidebar {
    left: 1rem;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 150px;
  }
  .sidebar-titulo{
    font-size: 1rem;
  }
  .sidebar-topicos, .nav-link{
    font-size: 0.6rem;
  }

  .sidebar.show ~ .toggle-sidebar {
    left: calc(150px - 5rem);
  }
}

